@import "https://fonts.googleapis.com/css?family=Roboto Mono";body {
    font-family: Roboto Mono,monospace
}
.footer-dark{
    background-color: #17181C;
    color: white;
    border-top: .0625rem solid #fff
}

.footer-light{
    color: #000;
    border-top: .0625rem solid #000
}

footer {
    padding-top: 6.25rem;
    
}

footer .social-links {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem
}

footer h4 {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.8125rem
}

footer ul {
    list-style: none;
    padding-left: 0
}

footer p,footer ul li {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem
}

footer a {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.8125rem;
    text-decoration: none
}